<div id="<%= dom_id checklist_step_interface_infrastructure_interface %>">
  <p>
    <strong>Infrastructure interface:</strong>
    <%= checklist_step_interface_infrastructure_interface.infrastructure_interface_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_step_interface_infrastructure_interface.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_step_interface_infrastructure_interface.updated_at %>
  </p>

</div>
