<p style="color: green"><%= notice %></p>

<h1>Checklist step interface infrastructure interfaces</h1>

<div id="aim_checklist_checklist_step_interface_infrastructure_interfaces">
  <% @aim_checklist_checklist_step_interface_infrastructure_interfaces.each do |aim_checklist_checklist_step_interface_infrastructure_interface| %>
    <%= render aim_checklist_checklist_step_interface_infrastructure_interface %>
    <p>
      <%= link_to "Show this checklist step interface infrastructure interface", aim_checklist_checklist_step_interface_infrastructure_interface %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist step interface infrastructure interface", new_aim_checklist_checklist_step_interface_infrastructure_interface_path %>
