<h1>New checklist step interface infrastructure interface</h1>

<%= render "form", aim_checklist_checklist_step_interface_infrastructure_interface: @aim_checklist_checklist_step_interface_infrastructure_interface %>

<br>

<div>
  <%= link_to "Back to checklist step interface infrastructure interfaces", aim_checklist_checklist_step_interface_infrastructure_interfaces_path %>
</div>
