<p style="color: green"><%= notice %></p>

<h1>Checklists</h1>

<div id="aim_checklist_checklists">
  <% @aim_checklist_checklists.each do |aim_checklist_checklist| %>
    <%= render aim_checklist_checklist %>
    <p>
      <%= link_to "Show this checklist", aim_checklist_checklist %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist", new_aim_checklist_checklist_path %>
