<div id="<%= dom_id checklist_interface_group %>">
  <p>
    <strong>Checklist interface:</strong>
    <%= checklist_interface_group.checklist_interface_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= checklist_interface_group.group_id %>
  </p>

</div>
