<h1>New checklist interface group</h1>

<%= render "form", aim_checklist_checklist_interface_group: @aim_checklist_checklist_interface_group %>

<br>

<div>
  <%= link_to "Back to checklist interface groups", aim_checklist_checklist_interface_groups_path %>
</div>
