<h1>Editing request type worker profile</h1>

<%= render "form", authorization_request_type_worker_profile: @authorization_request_type_worker_profile %>

<br>

<div>
  <%= link_to "Show this request type worker profile", @authorization_request_type_worker_profile %> |
  <%= link_to "Back to request type worker profiles", authorization_request_type_worker_profiles_path %>
</div>
