<p style="color: green"><%= notice %></p>

<h1>Request type worker profiles</h1>

<div id="authorization_request_type_worker_profiles">
  <% @authorization_request_type_worker_profiles.each do |authorization_request_type_worker_profile| %>
    <%= render authorization_request_type_worker_profile %>
    <p>
      <%= link_to "Show this request type worker profile", authorization_request_type_worker_profile %>
    </p>
  <% end %>
</div>

<%= link_to "New request type worker profile", new_authorization_request_type_worker_profile_path %>
