<div class="py-2">

  <%= link_to 'Crear', test_create_path, class: "inline-flex text-center rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-600 text-white block font-medium" %>
  <%= link_to 'Editar', test_update_path, class: "inline-flex text-center rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-600 text-white block font-medium" %>
  <%= link_to 'Eliminar', test_delete_path, class: "inline-flex text-center rounded-lg py-3 px-5 bg-blue-500 hover:bg-blue-600 text-white block font-medium" %>

</div>
