<div id="<%= dom_id checklist_section_interface_group %>">
  <p>
    <strong>Checklist section interface:</strong>
    <%= checklist_section_interface_group.checklist_section_interface_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= checklist_section_interface_group.group_id %>
  </p>

</div>
