<h1>Editing checklist section interface group</h1>

<%= render "form", aim_checklist_checklist_section_interface_group: @aim_checklist_checklist_section_interface_group %>

<br>

<div>
  <%= link_to "Show this checklist section interface group", @aim_checklist_checklist_section_interface_group %> |
  <%= link_to "Back to checklist section interface groups", aim_checklist_checklist_section_interface_groups_path %>
</div>
