<p style="color: green"><%= notice %></p>

<h1>Checklist section interface groups</h1>

<div id="aim_checklist_checklist_section_interface_groups">
  <% @aim_checklist_checklist_section_interface_groups.each do |aim_checklist_checklist_section_interface_group| %>
    <%= render aim_checklist_checklist_section_interface_group %>
    <p>
      <%= link_to "Show this checklist section interface group", aim_checklist_checklist_section_interface_group %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist section interface group", new_aim_checklist_checklist_section_interface_group_path %>
