<h1>Editing request worker</h1>

<%= render "form", authorization_request_worker: @authorization_request_worker %>

<br>

<div>
  <%= link_to "Show this request worker", @authorization_request_worker %> |
  <%= link_to "Back to request workers", authorization_request_workers_path %>
</div>
