<h1>New request worker</h1>

<%= render "form", authorization_request_worker: @authorization_request_worker %>

<br>

<div>
  <%= link_to "Back to request workers", authorization_request_workers_path %>
</div>
