<h1>New checklist answer options tag</h1>

<%= render "form", aim_checklist_checklist_answer_options_tag: @aim_checklist_checklist_answer_options_tag %>

<br>

<div>
  <%= link_to "Back to checklist answer options tags", aim_checklist_checklist_answer_options_tags_path %>
</div>
