<div id="<%= dom_id profiles_role %>">
  <p>
    <strong>Profile:</strong>
    <%= profiles_role.profile_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= profiles_role.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= profiles_role.updated_at %>
  </p>

</div>
