<h1>Editing profiles role</h1>

<%= render "form", aim_core_profiles_role: @aim_core_profiles_role %>

<br>

<div>
  <%= link_to "Show this profiles role", @aim_core_profiles_role %> |
  <%= link_to "Back to profiles roles", aim_core_profiles_roles_path %>
</div>
