<p style="color: green"><%= notice %></p>

<h1>Profiles roles</h1>

<div id="aim_core_profiles_roles">
  <% @aim_core_profiles_roles.each do |aim_core_profiles_role| %>
    <%= render aim_core_profiles_role %>
    <p>
      <%= link_to "Show this profiles role", aim_core_profiles_role %>
    </p>
  <% end %>
</div>

<%= link_to "New profiles role", new_aim_core_profiles_role_path %>
