<h1>Editing provision supplier</h1>

<%= render "form", authorization_provision_supplier: @authorization_provision_supplier %>

<br>

<div>
  <%= link_to "Show this provision supplier", @authorization_provision_supplier %> |
  <%= link_to "Back to provision suppliers", authorization_provision_suppliers_path %>
</div>
