<p style="color: green"><%= notice %></p>

<h1>Request type authorizing groups</h1>

<div id="authorization_request_type_authorizing_groups">
  <% @authorization_request_type_authorizing_groups.each do |authorization_request_type_authorizing_group| %>
    <%= render authorization_request_type_authorizing_group %>
    <p>
      <%= link_to "Show this request type authorizing group", authorization_request_type_authorizing_group %>
    </p>
  <% end %>
</div>

<%= link_to "New request type authorizing group", new_authorization_request_type_authorizing_group_path %>
