<h1>New request type authorizing group</h1>

<%= render "form", authorization_request_type_authorizing_group: @authorization_request_type_authorizing_group %>

<br>

<div>
  <%= link_to "Back to request type authorizing groups", authorization_request_type_authorizing_groups_path %>
</div>
