<h1>New authorized map</h1>

<%= render "form", aim_authorization_authorized_map: @aim_authorization_authorized_map %>

<br>

<div>
  <%= link_to "Back to authorized maps", aim_authorization_authorized_maps_path %>
</div>
