<h1>Editing group request</h1>

<%= render "form", aim_authorization_group_request: @aim_authorization_group_request %>

<br>

<div>
  <%= link_to "Show this group request", @aim_authorization_group_request %> |
  <%= link_to "Back to group requests", aim_authorization_group_requests_path %>
</div>
