<h1>New group request</h1>

<%= render "form", aim_authorization_group_request: @aim_authorization_group_request %>

<br>

<div>
  <%= link_to "Back to group requests", aim_authorization_group_requests_path %>
</div>
