<h1>New checklist interface info group</h1>

<%= render "form", aim_checklist_checklist_interface_info_group: @aim_checklist_checklist_interface_info_group %>

<br>

<div>
  <%= link_to "Back to checklist interface info groups", aim_checklist_checklist_interface_info_groups_path %>
</div>
