<div id="<%= dom_id checklist_tag_grade_weight %>">
  <p>
    <strong>Tag:</strong>
    <%= checklist_tag_grade_weight.tag_id %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_tag_grade_weight.grade_weight %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= checklist_tag_grade_weight.grade %>
  </p>

</div>
