<h1>Editing checklist tag grade weight</h1>

<%= render "form", aim_checklist_checklist_tag_grade_weight: @aim_checklist_checklist_tag_grade_weight %>

<br>

<div>
  <%= link_to "Show this checklist tag grade weight", @aim_checklist_checklist_tag_grade_weight %> |
  <%= link_to "Back to checklist tag grade weights", aim_checklist_checklist_tag_grade_weights_path %>
</div>
