<h1>Editing request workerable worker</h1>

<%= render "form", authorization_request_workerable_worker: @authorization_request_workerable_worker %>

<br>

<div>
  <%= link_to "Show this request workerable worker", @authorization_request_workerable_worker %> |
  <%= link_to "Back to request workerable workers", authorization_request_workerable_workers_path %>
</div>
