<h1>New request workerable worker</h1>

<%= render "form", authorization_request_workerable_worker: @authorization_request_workerable_worker %>

<br>

<div>
  <%= link_to "Back to request workerable workers", authorization_request_workerable_workers_path %>
</div>
