<p style="color: green"><%= notice %></p>

<h1>Checklist step interfaces</h1>

<div id="aim_checklist_checklist_step_interfaces">
  <% @aim_checklist_checklist_step_interfaces.each do |aim_checklist_checklist_step_interface| %>
    <%= render aim_checklist_checklist_step_interface %>
    <p>
      <%= link_to "Show this checklist step interface", aim_checklist_checklist_step_interface %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist step interface", new_aim_checklist_checklist_step_interface_path %>
