<p style="color: green"><%= notice %></p>

<h1>Checklist sections</h1>

<div id="aim_checklist_checklist_sections">
  <% @aim_checklist_checklist_sections.each do |aim_checklist_checklist_section| %>
    <%= render aim_checklist_checklist_section %>
    <p>
      <%= link_to "Show this checklist section", aim_checklist_checklist_section %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist section", new_aim_checklist_checklist_section_path %>
