<h1>New checklist section</h1>

<%= render "form", aim_checklist_checklist_section: @aim_checklist_checklist_section %>

<br>

<div>
  <%= link_to "Back to checklist sections", aim_checklist_checklist_sections_path %>
</div>
