<div id="<%= dom_id checklist_categories_custom_report %>">
  <p>
    <strong>Custom report:</strong>
    <%= checklist_categories_custom_report.custom_report_id %>
  </p>

  <p>
    <strong>Checklist category:</strong>
    <%= checklist_categories_custom_report.checklist_category_id %>
  </p>

</div>
