<h1>New checklist categories custom report</h1>

<%= render "form", aim_checklist_checklist_categories_custom_report: @aim_checklist_checklist_categories_custom_report %>

<br>

<div>
  <%= link_to "Back to checklist categories custom reports", aim_checklist_checklist_categories_custom_reports_path %>
</div>
