<p style="color: green"><%= notice %></p>

<h1>Checklist category groups</h1>

<div id="aim_checklist_checklist_category_groups">
  <% @aim_checklist_checklist_category_groups.each do |aim_checklist_checklist_category_group| %>
    <%= render aim_checklist_checklist_category_group %>
    <p>
      <%= link_to "Show this checklist category group", aim_checklist_checklist_category_group %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist category group", new_aim_checklist_checklist_category_group_path %>
