<h1>Editing checklist step checklist tag</h1>

<%= render "form", aim_checklist_checklist_step_checklist_tag: @aim_checklist_checklist_step_checklist_tag %>

<br>

<div>
  <%= link_to "Show this checklist step checklist tag", @aim_checklist_checklist_step_checklist_tag %> |
  <%= link_to "Back to checklist step checklist tags", aim_checklist_checklist_step_checklist_tags_path %>
</div>
