<h1>New checklist step checklist tag</h1>

<%= render "form", aim_checklist_checklist_step_checklist_tag: @aim_checklist_checklist_step_checklist_tag %>

<br>

<div>
  <%= link_to "Back to checklist step checklist tags", aim_checklist_checklist_step_checklist_tags_path %>
</div>
