<div class="w-full">
  <div class="py-2 flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%%= I18n.t '<%= plural_table_name %>.properties.title' %></h1>
    <h3 class="font-bold text-xl"><%%= I18n.t '<%= plural_table_name %>.actions.edit', id: @<%= singular_table_name %>.id %></h3>
  </div>

  <%%= render "buttons" %>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

</div>
