<div id="<%= dom_id checklist_interface_custom_report %>">
  <p>
    <strong>Custom report:</strong>
    <%= checklist_interface_custom_report.custom_report_id %>
  </p>

  <p>
    <strong>Checklist interface:</strong>
    <%= checklist_interface_custom_report.checklist_interface_id %>
  </p>

</div>
