<h1>New checklist interface custom report</h1>

<%= render "form", aim_checklist_checklist_interface_custom_report: @aim_checklist_checklist_interface_custom_report %>

<br>

<div>
  <%= link_to "Back to checklist interface custom reports", aim_checklist_checklist_interface_custom_reports_path %>
</div>
