<h1>New checklist interface</h1>

<%= render "form", aim_checklist_checklist_interface: @aim_checklist_checklist_interface %>

<br>

<div>
  <%= link_to "Back to checklist interfaces", aim_checklist_checklist_interfaces_path %>
</div>
