<p style="color: green"><%= notice %></p>

<h1>Request type notificable groups</h1>

<div id="authorization_request_type_notificable_groups">
  <% @authorization_request_type_notificable_groups.each do |authorization_request_type_notificable_group| %>
    <%= render authorization_request_type_notificable_group %>
    <p>
      <%= link_to "Show this request type notificable group", authorization_request_type_notificable_group %>
    </p>
  <% end %>
</div>

<%= link_to "New request type notificable group", new_authorization_request_type_notificable_group_path %>
