<h1>New request type notificable group</h1>

<%= render "form", authorization_request_type_notificable_group: @authorization_request_type_notificable_group %>

<br>

<div>
  <%= link_to "Back to request type notificable groups", authorization_request_type_notificable_groups_path %>
</div>
