<h1>New checklist tag</h1>

<%= render "form", aim_checklist_checklist_tag: @aim_checklist_checklist_tag %>

<br>

<div>
  <%= link_to "Back to checklist tags", aim_checklist_checklist_tags_path %>
</div>
