<div id="<%= dom_id request_type_notificable_exception %>">
  <p>
    <strong>Request type:</strong>
    <%= request_type_notificable_exception.request_type_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= request_type_notificable_exception.user_id %>
  </p>

</div>
