<h1>Editing request type notificable exception</h1>

<%= render "form", authorization_request_type_notificable_exception: @authorization_request_type_notificable_exception %>

<br>

<div>
  <%= link_to "Show this request type notificable exception", @authorization_request_type_notificable_exception %> |
  <%= link_to "Back to request type notificable exceptions", authorization_request_type_notificable_exceptions_path %>
</div>
