<h1>New request type notificable exception</h1>

<%= render "form", authorization_request_type_notificable_exception: @authorization_request_type_notificable_exception %>

<br>

<div>
  <%= link_to "Back to request type notificable exceptions", authorization_request_type_notificable_exceptions_path %>
</div>
