<div id="<%= dom_id request_type_worker_profile_document_type %>">
  <p>
    <strong>Worker profile:</strong>
    <%= request_type_worker_profile_document_type.worker_profile_id %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= request_type_worker_profile_document_type.document_type_id %>
  </p>

</div>
