<p style="color: green"><%= notice %></p>

<h1>Request type worker profile document types</h1>

<div id="authorization_request_type_worker_profile_document_types">
  <% @authorization_request_type_worker_profile_document_types.each do |authorization_request_type_worker_profile_document_type| %>
    <%= render authorization_request_type_worker_profile_document_type %>
    <p>
      <%= link_to "Show this request type worker profile document type", authorization_request_type_worker_profile_document_type %>
    </p>
  <% end %>
</div>

<%= link_to "New request type worker profile document type", new_authorization_request_type_worker_profile_document_type_path %>
