<h1>Editing profile</h1>

<%= render "form", aim_core_profile: @aim_core_profile %>

<br>

<div>
  <%= link_to "Show this profile", @aim_core_profile %> |
  <%= link_to "Back to profiles", aim_core_profiles_path %>
</div>
