<h1>Editing checklist category</h1>

<%= render "form", aim_checklist_checklist_category: @aim_checklist_checklist_category %>

<br>

<div>
  <%= link_to "Show this checklist category", @aim_checklist_checklist_category %> |
  <%= link_to "Back to checklist categories", aim_checklist_checklist_categories_path %>
</div>
