<h1>New checklist category</h1>

<%= render "form", aim_checklist_checklist_category: @aim_checklist_checklist_category %>

<br>

<div>
  <%= link_to "Back to checklist categories", aim_checklist_checklist_categories_path %>
</div>
