<h1>Editing history state</h1>

<%= render "form", aim_authorization_history_state: @aim_authorization_history_state %>

<br>

<div>
  <%= link_to "Show this history state", @aim_authorization_history_state %> |
  <%= link_to "Back to history states", aim_authorization_history_states_path %>
</div>
