<p style="color: green"><%= notice %></p>

<h1>Checklist grade options</h1>

<div id="aim_checklist_checklist_grade_options">
  <% @aim_checklist_checklist_grade_options.each do |aim_checklist_checklist_grade_option| %>
    <%= render aim_checklist_checklist_grade_option %>
    <p>
      <%= link_to "Show this checklist grade option", aim_checklist_checklist_grade_option %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist grade option", new_aim_checklist_checklist_grade_option_path %>
