<h1>New checklist grade option</h1>

<%= render "form", aim_checklist_checklist_grade_option: @aim_checklist_checklist_grade_option %>

<br>

<div>
  <%= link_to "Back to checklist grade options", aim_checklist_checklist_grade_options_path %>
</div>
