<div id="<%= dom_id users_group %>">
  <p>
    <strong>User:</strong>
    <%= users_group.user_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= users_group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= users_group.updated_at %>
  </p>

</div>
