<h1>Editing users group</h1>

<%= render "form", aim_core_users_group: @aim_core_users_group %>

<br>

<div>
  <%= link_to "Show this users group", @aim_core_users_group %> |
  <%= link_to "Back to users groups", aim_core_users_groups_path %>
</div>
