<div id="<%= dom_id checklist_interface_map %>">
  <p>
    <strong>Checklist interface:</strong>
    <%= checklist_interface_map.checklist_interface_id %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= checklist_interface_map.map_id %>
  </p>

</div>
