<p style="color: green"><%= notice %></p>

<h1>Checklist interface maps</h1>

<div id="aim_checklist_checklist_interface_maps">
  <% @aim_checklist_checklist_interface_maps.each do |aim_checklist_checklist_interface_map| %>
    <%= render aim_checklist_checklist_interface_map %>
    <p>
      <%= link_to "Show this checklist interface map", aim_checklist_checklist_interface_map %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist interface map", new_aim_checklist_checklist_interface_map_path %>
