<h1>New checklist interface map</h1>

<%= render "form", aim_checklist_checklist_interface_map: @aim_checklist_checklist_interface_map %>

<br>

<div>
  <%= link_to "Back to checklist interface maps", aim_checklist_checklist_interface_maps_path %>
</div>
