<h1>Editing map group request</h1>

<%= render "form", authorization_map_group_request: @authorization_map_group_request %>

<br>

<div>
  <%= link_to "Show this map group request", @authorization_map_group_request %> |
  <%= link_to "Back to map group requests", authorization_map_group_requests_path %>
</div>
