<h1>New map group request</h1>

<%= render "form", authorization_map_group_request: @authorization_map_group_request %>

<br>

<div>
  <%= link_to "Back to map group requests", authorization_map_group_requests_path %>
</div>
