<div id="<%= dom_id request_document_type_document %>">
  <p>
    <strong>Request:</strong>
    <%= request_document_type_document.request_id %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= request_document_type_document.document_type_id %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= request_document_type_document.document_id %>
  </p>

</div>
