<h1>New request document type document</h1>

<%= render "form", authorization_request_document_type_document: @authorization_request_document_type_document %>

<br>

<div>
  <%= link_to "Back to request document type documents", authorization_request_document_type_documents_path %>
</div>
