<div id="<%= dom_id group %>">
  <p>
    <strong>Created at:</strong>
    <%= group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= group.updated_at %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= group.kind %>
  </p>

</div>
