<h1>Editing group</h1>

<%= render "form", aim_core_group: @aim_core_group %>

<br>

<div>
  <%= link_to "Show this group", @aim_core_group %> |
  <%= link_to "Back to groups", aim_core_groups_path %>
</div>
