<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="aim_core_groups">
  <% @aim_core_groups.each do |aim_core_group| %>
    <%= render aim_core_group %>
    <p>
      <%= link_to "Show this group", aim_core_group %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_aim_core_group_path %>
