<div id="<%= dom_id checklist_answer_option %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_answer_option.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_answer_option.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_answer_option.updated_at %>
  </p>

</div>
