<h1>New checklist answer option</h1>

<%= render "form", aim_checklist_checklist_answer_option: @aim_checklist_checklist_answer_option %>

<br>

<div>
  <%= link_to "Back to checklist answer options", aim_checklist_checklist_answer_options_path %>
</div>
