<div class="container-fluid">
  <div class="container-title">
    <h1 class="title-text"><%= I18n.t 'test_articles.properties.title' %></h1>
  </div>

  <%= render "buttons" %>

  <%= render "table" %>

  <%= render "filter" %>

  <%#= render 'layouts/shared/confirm' %>

</div>
