<h1>Editing request vehicle</h1>

<%= render "form", authorization_request_vehicle: @authorization_request_vehicle %>

<br>

<div>
  <%= link_to "Show this request vehicle", @authorization_request_vehicle %> |
  <%= link_to "Back to request vehicles", authorization_request_vehicles_path %>
</div>
