<p style="color: green"><%= notice %></p>

<h1>Request vehicles</h1>

<div id="authorization_request_vehicles">
  <% @authorization_request_vehicles.each do |authorization_request_vehicle| %>
    <%= render authorization_request_vehicle %>
    <p>
      <%= link_to "Show this request vehicle", authorization_request_vehicle %>
    </p>
  <% end %>
</div>

<%= link_to "New request vehicle", new_authorization_request_vehicle_path %>
