<h1>New request vehicle</h1>

<%= render "form", authorization_request_vehicle: @authorization_request_vehicle %>

<br>

<div>
  <%= link_to "Back to request vehicles", authorization_request_vehicles_path %>
</div>
