<h1>New checklist section interface</h1>

<%= render "form", aim_checklist_checklist_section_interface: @aim_checklist_checklist_section_interface %>

<br>

<div>
  <%= link_to "Back to checklist section interfaces", aim_checklist_checklist_section_interfaces_path %>
</div>
