<h1>Editing checklist step interface checklist tag</h1>

<%= render "form", aim_checklist_checklist_step_interface_checklist_tag: @aim_checklist_checklist_step_interface_checklist_tag %>

<br>

<div>
  <%= link_to "Show this checklist step interface checklist tag", @aim_checklist_checklist_step_interface_checklist_tag %> |
  <%= link_to "Back to checklist step interface checklist tags", aim_checklist_checklist_step_interface_checklist_tags_path %>
</div>
