<div id="<%= dom_id current_worker_document %>">
  <p>
    <strong>Request workerable worker:</strong>
    <%= current_worker_document.request_workerable_worker_id %>
  </p>

  <p>
    <strong>Worker document:</strong>
    <%= current_worker_document.worker_document_id %>
  </p>

</div>
