<h1>Editing current worker document</h1>

<%= render "form", aim_authorization_current_worker_document: @aim_authorization_current_worker_document %>

<br>

<div>
  <%= link_to "Show this current worker document", @aim_authorization_current_worker_document %> |
  <%= link_to "Back to current worker documents", aim_authorization_current_worker_documents_path %>
</div>
