<h1>New current worker document</h1>

<%= render "form", aim_authorization_current_worker_document: @aim_authorization_current_worker_document %>

<br>

<div>
  <%= link_to "Back to current worker documents", aim_authorization_current_worker_documents_path %>
</div>
