<h1>Editing scanned frame</h1>

<%= render "form", authorization_scanned_frame: @authorization_scanned_frame %>

<br>

<div>
  <%= link_to "Show this scanned frame", @authorization_scanned_frame %> |
  <%= link_to "Back to scanned frames", authorization_scanned_frames_path %>
</div>
