<p style="color: green"><%= notice %></p>

<h1>Scanned frames</h1>

<div id="authorization_scanned_frames">
  <% @authorization_scanned_frames.each do |authorization_scanned_frame| %>
    <%= render authorization_scanned_frame %>
    <p>
      <%= link_to "Show this scanned frame", authorization_scanned_frame %>
    </p>
  <% end %>
</div>

<%= link_to "New scanned frame", new_authorization_scanned_frame_path %>
