<h1>Editing user</h1>

<%= render "form", aim_core_user: @aim_core_user %>

<br>

<div>
  <%= link_to "Show this user", @aim_core_user %> |
  <%= link_to "Back to users", aim_core_users_path %>
</div>
