<p style="color: green"><%= notice %></p>

<h1>Maps</h1>

<div id="aim_core_maps">
  <% @aim_core_maps.each do |aim_core_map| %>
    <%= render aim_core_map %>
    <p>
      <%= link_to "Show this map", aim_core_map %>
    </p>
  <% end %>
</div>

<%= link_to "New map", new_aim_core_map_path %>
