<h1>Editing worker document</h1>

<%= render "form", authorization_worker_document: @authorization_worker_document %>

<br>

<div>
  <%= link_to "Show this worker document", @authorization_worker_document %> |
  <%= link_to "Back to worker documents", authorization_worker_documents_path %>
</div>
