<h1>New worker document</h1>

<%= render "form", authorization_worker_document: @authorization_worker_document %>

<br>

<div>
  <%= link_to "Back to worker documents", authorization_worker_documents_path %>
</div>
