<h1>Editing provision</h1>

<%= render "form", authorization_provision: @authorization_provision %>

<br>

<div>
  <%= link_to "Show this provision", @authorization_provision %> |
  <%= link_to "Back to provisions", authorization_provisions_path %>
</div>
