<h1>New request type</h1>

<%= render "form", authorization_request_type: @authorization_request_type %>

<br>

<div>
  <%= link_to "Back to request types", authorization_request_types_path %>
</div>
