<h1>Editing checklist interface concept</h1>

<%= render "form", aim_checklist_checklist_interface_concept: @aim_checklist_checklist_interface_concept %>

<br>

<div>
  <%= link_to "Show this checklist interface concept", @aim_checklist_checklist_interface_concept %> |
  <%= link_to "Back to checklist interface concepts", aim_checklist_checklist_interface_concepts_path %>
</div>
