<div class="table-paginator" data-controller="pagy-initializer"><%== pagy_nav(@pagy) %></div>

<div class="table-container">
  <table class="table-index">
    <thead class="table-header">
    <tr>
      <th scope="col" class="table-attribute"><%= sort_link('test_posts_path', I18n.t('activerecord.attributes.test_post.id'), 'id') %></th>
      <th scope="col" class="table-attribute-actions"><%= I18n.t('operator.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @test_posts.each.with_index do |test_post| %>
      <%= render partial: "test_post_row", locals: { test_post: test_post } %>
    <% end %>
    </tbody>
  </table>
</div>
