<div id="<%= dom_id test_post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= test_post.id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this test post", test_post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this test post", edit_test_post_path(test_post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
