<p style="color: green"><%= notice %></p>

<h1>Requests</h1>

<div id="authorization_requests">
  <% @authorization_requests.each do |authorization_request| %>
    <%= render authorization_request %>
    <p>
      <%= link_to "Show this request", authorization_request %>
    </p>
  <% end %>
</div>

<%= link_to "New request", new_authorization_request_path %>
