<p style="color: green"><%= notice %></p>

<h1>Checklist steps</h1>

<div id="aim_checklist_checklist_steps">
  <% @aim_checklist_checklist_steps.each do |aim_checklist_checklist_step| %>
    <%= render aim_checklist_checklist_step %>
    <p>
      <%= link_to "Show this checklist step", aim_checklist_checklist_step %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist step", new_aim_checklist_checklist_step_path %>
