<h1>New checklist step</h1>

<%= render "form", aim_checklist_checklist_step: @aim_checklist_checklist_step %>

<br>

<div>
  <%= link_to "Back to checklist steps", aim_checklist_checklist_steps_path %>
</div>
