<h1>Editing provision request type</h1>

<%= render "form", authorization_provision_request_type: @authorization_provision_request_type %>

<br>

<div>
  <%= link_to "Show this provision request type", @authorization_provision_request_type %> |
  <%= link_to "Back to provision request types", authorization_provision_request_types_path %>
</div>
