<h1>New provision request type</h1>

<%= render "form", authorization_provision_request_type: @authorization_provision_request_type %>

<br>

<div>
  <%= link_to "Back to provision request types", authorization_provision_request_types_path %>
</div>
