<h1>Editing role</h1>

<%= render "form", aim_core_role: @aim_core_role %>

<br>

<div>
  <%= link_to "Show this role", @aim_core_role %> |
  <%= link_to "Back to roles", aim_core_roles_path %>
</div>
